.loginPageImage {
  max-width: 18rem;
  max-height: 18rem;
}

.loginBox {
  display: flex;
  max-width: 100vw;
  max-height: 100vh;
  margin-top: 10em;
  align-items: center;
  justify-content: center;
}

.loginCard {
  height: 30em;
  width: 25em;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 1px 1px 18px -3px rgba(0, 0, 0, 0.1);
}

.loginButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
